@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
$font-heading: "Poppins", sans-serif;
$font-body: "Lora", serif;
$font-list: "Open Sans", sans-serif;

@mixin block {
    // basic margin and padding
    padding: $padding;
    margin: $margin;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
body {
    background-color: $gray-1;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
a {
    font-family: $font-heading;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: underline;
    color: $white;
}
// p {
//     @include block;
//     line-height: 1.5em;
//     font-size: 1rem;
//     font-family: $font-body;
// }

h1 {
    @include block;
    font-size: clamp(2.5rem, 5rem, 6vw); /* min, val, max */
    font-family: $font-heading;
    font-weight: 900;
}
h2 {
    @include block;
    font-size: clamp(1.2rem, 1.8rem, 3vw); /* min, val, max */
    font-family: $font-heading;
    font-weight: 900;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
h3 {
    @include block;
    color: $gray-9;
    font-family: $font-heading;
}
ul {
    display: block;
    padding: 5px;
    font-size: 1rem;
    color: black;
}
p {
    color: $gray-9;
    font-family: $font-list;
    font-size: 1rem;
    line-height: 1.5em;
    padding: $padding;
    margin: $margin;
    list-style: none;
}
// li::before {
//     content: url("/public/1.jpg");
// }
nav {
    padding: 20px;
}

small {
    font-size: 0.8rem;
    font-family: $font-body;
    font-weight: 600;

    padding-left: 5px;
}
strong {
    @include block;
    font-size: 1rem;
    font-family: $font-body;
}
