//
$gadient-start: #ffd900;
$gradient-end: #2ee5d6;
.card-list {
    background-size: cover;
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 1.5rem;
    height: auto;
    width: 400px;
    min-width: 250px;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.2s;
    scroll-snap-align: start;
    clear: both;
}

.card-body {
    h2 {
        display: inline-block;
    }
    p {
        font-family: $font-body;
        color: $white;
    }
}

.card:focus-within ~ .card,
.card:hover ~ .card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}

.card-header {
    background-image: url("/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -35px;
    background-position-y: 15px;
    height: 50px;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header {
    h2 {
        font-family: $font-heading;
        font-size: clamp(1.2rem, 1.8rem, 3vw); /* min, val, max */
        margin: 0.25rem 0 auto;
        text-decoration: none;
        color: inherit;
        border: 0;
        display: inline-block;
        background: linear-gradient(90deg, $gadient-start, $gradient-end);
        text-shadow: none;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}
.center {
    @include center;
}
.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: #ff8a00;
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}
.container {
    max-width: 1000px;
}

.tags {
    margin: 1rem 0 2rem;
    padding: 0.5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags a {
    font-style: normal;
    font-weight: 700;
    font-size: 0.7rem;
    color: #7a7a8c;
    text-transform: uppercase;
    font-size: 0.66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: 0.2rem 0.85rem 0.25rem;
    position: relative;
}

.tags a:hover {
    background: linear-gradient(90deg, $gadient-start, $gradient-end);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: white;
}

.section__header {
    h2 {
        display: inline-block;
        margin: clamp(0.5rem, 0.25rem, 3rem); /* min, val, max */
        font-size: clamp(3rem, 4rem, 5vw); /* min, val, max */
        background: linear-gradient(0deg, $gadient-start, $gradient-end);
        text-decoration: none;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $black;
        font-family: $font-heading;
    }
}
.header {
    h1 {
        display: inline-block;
        margin: clamp(0.5rem, 1rem, 3vw);
        background: linear-gradient(0deg, $gadient-start, $gradient-end);
        text-decoration: none;
        color: inherit;
        border: 0;
        text-shadow: none;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: $white;
    }
}
.introduction {
    @include block;
    p {
        padding: 10px;
        font-size: 0.85rem;
        font-family: $font-body;
        font-weight: 600;
        line-height: 1.4rem;
        color: $white;
        background: rgba($gray-3, 0.1);
        border-radius: 10px;
    }
}
