//block
$padding: 3px;
$margin: 3px;
$border-radius: 7px;

//gray scale colors

$black: rgba(10, 10, 10, 1);
$white: rgba(255, 255, 255, 1);
$gray: rgb(220, 220, 220);
$gray-1: rgb(39, 41, 48);
$gray-2: rgb(50, 50, 50);
$gray-3: rgb(100, 100, 100);
$gray-4: rgb(125, 125, 125);
$gray-5: rgb(150, 150, 150);
$gray-6: rgb(175, 175, 175);
$gray-7: rgb(200, 200, 200);
$gray-8: rgb(225, 225, 225);
$gray-9: rgb(250, 250, 250);

$gadient-start: #d9ff00;
$gradient-end: #c02ee5;

$transition: all 0.35s ease;
$box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

@mixin block {
    // basic margin and padding
    padding: $padding;
    margin: $margin;
}

@mixin border {
    border: 1px solid $black;
    border-radius: $border-radius;
}
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
