@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #272930;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: underline;
  color: white;
}

p {
  padding: 3px;
  margin: 3px;
  line-height: 1.5em;
  font-size: 1rem;
  font-family: "Lora", serif;
}

h1 {
  padding: 3px;
  margin: 3px;
  font-size: clamp(2.5rem, 5rem, 6vw);
  /* min, val, max */
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

h2 {
  padding: 3px;
  margin: 3px;
  font-size: clamp(1.2rem, 1.8rem, 3vw);
  /* min, val, max */
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  background: -webkit-gradient(linear, left top, right top, from(#ff8a00), to(#e52e71));
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

h3 {
  padding: 3px;
  margin: 3px;
  color: #fafafa;
  font-family: "Poppins", sans-serif;
}

ul {
  display: block;
  padding: 5px;
  font-size: 1rem;
  color: black;
}

li {
  color: #fafafa;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  padding: 3px;
  margin: 3px;
  list-style: none;
}

nav {
  padding: 20px;
}

small {
  font-size: 0.8rem;
  font-family: "Lora", serif;
  font-weight: 600;
  padding-left: 5px;
}

strong {
  padding: 3px;
  margin: 3px;
  font-size: 1rem;
  font-family: "Lora", serif;
}

.bg-1 {
  background-image: url("/HawthorneMist.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-2 {
  background-image: url("/2.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-3 {
  background-image: url("/mine.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.box > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30px;
          flex: 1 1 30px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding: 1.5rem;
  height: auto;
  width: 400px;
  min-width: 250px;
  border-radius: 16px;
  background: #17141d;
  -webkit-box-shadow: -1rem 0 3rem #000;
          box-shadow: -1rem 0 3rem #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  scroll-snap-align: start;
  clear: both;
  border: 1px solid #969696;
  opacity: 0.95;
}

.card-body {
  padding: 3px;
  margin: 3px;
}

.card-body p {
  font-family: "Lora", serif;
  color: white;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.card:focus-within ~ .card,
.card:hover ~ .card {
  -webkit-transform: translateX(130px);
          transform: translateX(130px);
}

.card:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card-header {
  background-image: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -35px;
  background-position-y: 15px;
  height: 50px;
}

.card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

.card-header h2 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.2rem, 1.8rem, 3vw);
  /* min, val, max */
  margin: 0.25rem 0 auto;
  text-decoration: none;
  color: inherit;
  border: 0;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#ffd900), to(#2ee5d6));
  background: linear-gradient(90deg, #ffd900, #2ee5d6);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center p {
  color: white;
}

.child {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.child1 {
  position: absolute;
  z-index: -101;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.col-2l {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 1fr;
      grid-template-columns: 20px 1fr;
}

.container {
  max-width: 1000px;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}

.experience-card {
  background: -webkit-gradient(linear, left top, right top, from(#323232), to(#272930));
  background: linear-gradient(90deg, #323232, #272930);
  padding: 3px;
  margin: 3px;
  padding: 20px;
  margin-bottom: 40px;
  border-left: 10px solid #646464;
}

.experience-card em {
  font-size: 0.85rem;
  color: #c8c8c8;
  margin-left: 17px;
}

.experience-card li {
  color: #e1e1e1;
  font-family: "Open Sans", sans-serif;
}

.experience-card h3 {
  margin-left: 13px;
  font-family: "Poppins", sans-serif;
  font-style: oblique;
  font-size: 1rem;
  margin-top: -19px;
  color: #afafaf;
  text-decoration: underline;
}

.footer {
  padding: 3px;
  margin: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer p {
  font-family: "Open Sans", sans-serif;
  color: white;
}

.grid-ish > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}

.grid-ish {
  padding: 3px;
  margin: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.header h1 {
  display: inline-block;
  margin: clamp(0.5rem, 1rem, 3vw);
  background: -webkit-gradient(linear, left bottom, left top, from(#ffd900), to(#2ee5d6));
  background: linear-gradient(0deg, #ffd900, #2ee5d6);
  text-decoration: none;
  color: inherit;
  border: 0;
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
}

.icon {
  width: 80px;
  fill: rgba(250, 250, 250, 0.6);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 10px;
}

.icon :hover {
  fill: #2ee5d6;
  width: 90px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.icon-green {
  width: 80px;
  fill: #ffd900;
}

.icon-lg {
  width: 50px;
  fill: rgba(250, 250, 250, 0.7);
}

.icon-small {
  width: 20px;
  fill: #ffd900;
}

.icon-small-green {
  width: 20px;
  fill: #2ee5d6;
}

.introduction {
  padding: 3px;
  margin: 3px;
}

.introduction p {
  padding: clamp(0.8em, 1.2em, 6em);
  /* min, val, max */
  font-size: clamp(0.9rem, 2rem, 1.2vw);
  /* min, val, max */
  font-family: "Lora", serif;
  font-weight: 600;
  line-height: 1.8rem;
  color: white;
  background: rgba(100, 100, 100, 0.1);
  border-radius: 10px;
}

.nav {
  padding: 3px;
  margin: 3px;
  padding-right: 20px;
}

.parent {
  position: relative;
}

.section__header {
  z-index: 1;
}

.section__header h3 {
  display: inline-block;
  margin: clamp(0.5rem, 0.25rem, 3rem);
  /* min, val, max */
  font-size: clamp(2rem, 3rem, 3vw);
  /* min, val, max */
  background: linear-gradient(45deg, #ffd900, #2ee5d6);
  text-decoration: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0a0a0a;
  font-family: "Poppins", sans-serif;
}

.section__header h2 {
  display: inline-block;
  margin: clamp(0.5rem, 0.25rem, 3rem);
  /* min, val, max */
  font-size: clamp(3rem, 4rem, 5vw);
  /* min, val, max */
  background: -webkit-gradient(linear, left bottom, left top, from(#ffd900), to(#2ee5d6));
  background: linear-gradient(0deg, #ffd900, #2ee5d6);
  text-decoration: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0a0a0a;
  font-family: "Poppins", sans-serif;
}

.tags {
  margin: 1rem 0 2rem;
  padding: 0.5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}

.tags a {
  font-style: normal;
  font-weight: 700;
  font-size: 0.7rem;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: 0.66rem;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem;
  position: relative;
}

.tags a:hover {
  background: -webkit-gradient(linear, left top, right top, from(#ffd900), to(#2ee5d6));
  background: linear-gradient(90deg, #ffd900, #2ee5d6);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  border-color: white;
}
/*# sourceMappingURL=main.css.map */