@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
/* Color Theme Swatches in Hex */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #0a0a0a;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a link {
  font-size: 0.8rem;
  font-family: "Raleway", sans-serif;
  color: rebeccapurple;
}

h1 {
  font-size: clamp(1.8rem, 3.5rem, 6vw);
  /* min, val, max */
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  padding: 3px;
}

h2 {
  padding-left: 9px;
  font-size: clamp(1.5rem, 1.8rem, 3vw);
  /* min, val, max */
  font-family: "Nunito", sans-serif;
  font-weight: 100;
}

h3 {
  padding-left: 9px;
  font-size: clamp(1.2rem, 1.3rem, 2vw);
  /* min, val, max */
  font-family: "Poppins", sans-serif;
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 5px;
}

h4 {
  color: #fafafa;
  margin-top: 3px;
  padding-left: 13px;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1rem, 1.4rem, 1.5vw);
  /* min, val, max */
  font-weight: 700;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(0.7rem, 1rem, 0.8 vw);
  /* min, val, max */
  padding-left: 20px;
}

p {
  padding-bottom: 8px;
  padding-left: 8px;
  margin-bottom: 3px;
  line-height: 1.5em;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}

blockquote {
  background-color: #e1e1e1;
  font-size: clamp(1rem, 1.5rem, 2vw);
  /* min, val, max */
  padding: clamp(1.5em, 2em, 2vw);
  /* min, val, max */
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

a,
link {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  text-decoration: underline;
}

a:active,
a:hover,
a:visited,
link {
  color: #f1d8a3;
}

ul {
  display: block;
  padding: 5px;
  font-size: 1rem;
  color: black;
}

li {
  color: #fafafa;
  font-family: "Raleway", sans-serif;
  font-size: 0.85rem;
  line-height: 1.5em;
  padding: 3px;
  margin: 3px;
  list-style: disc inside;
}

nav {
  padding: 20px;
}

small {
  font-size: 0.8rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  padding-left: 5px;
}

strong {
  padding: 3px;
  margin: 3px;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}

.bar {
  mix-blend-mode: screen;
  width: 100%;
  height: 1px;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f4a622 0%, #95fc36 57%, #32e2d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4a622', endColorstr='#32e2d9',GradientType=1 );
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 3px;
  margin: 3px;
  border-radius: 10px;
  background: #0767f9;
  background: linear-gradient(297deg, #0767f9 0%, #f7e477 100%, rgba(252, 8, 8, 0) 100%, rgba(255, 3, 3, 0.955602) 100%, #0f0101 100%);
}

.card__body {
  padding: 25px;
}

.card_contents {
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #272930;
  padding-bottom: 20px;
}

.card_contents1 {
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #646464;
}

.card_contents2 {
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #272930;
}

.card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: -5px;
}

.card-header h2 {
  font-family: "Poppins", sans-serif;
  color: #fafafa;
  margin-top: 23px;
  font-size: clamp(2rem, 2rem, 2vw);
  /* min, val, max */
  font-weight: 700;
  margin-left: clamp(1rem, 2rem, 1vw);
  /* min, val, max */
}

.card__footer {
  height: 60px;
  padding: 13px;
}

.col-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr [4];
  grid-template-columns: repeat(4, 1fr);
}

.container {
  margin: auto;
  max-width: 1200px;
  background-color: #afafaf;
  min-height: 100vh;
}

.grid-ish > * {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 300px;
  flex: 1 1 300px;
}

.grid-ish {
  padding: 3px;
  margin: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.header {
  background-color: #f1d8a3;
  margin-bottom: 20px;
  border-bottom: 10px solid #273535;
  background-position: top;
  background-size: cover;
  padding-left: 3px;
  padding-top: 10px;
}

.header h2 {
  font-size: clamp(1.5rem, 3rem, 3vw);
  /* min, val, max */
  margin-left: clamp(1rem, 3rem, 4vw);
  /* min, val, max */
  margin-top: clamp(-1rem, -3rem, -4vw);
  /* min, val, max */
}

.introduction {
  height: auto;
  border-left: 5px solid #73396f;
  padding: 3px;
  margin: 3px;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: -40px;
}

.introduction p {
  border-radius: 20px;
  color: white;
  font-weight: 700;
  padding: 3px;
  margin: 3px;
  padding: 13px;
  background-color: rgba(39, 41, 48, 0.4);
  font-size: 1rem;
  /* min, val, max */
  font-style: oblique;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.multiply {
  mix-blend-mode: multiply;
}

.section-1 {
  background-color: #272930;
  padding-top: 30px;
  padding-bottom: 100px;
  z-index: -1;
}

.section-2 {
  background-color: #273535;
  padding-top: 30px;
  padding-bottom: 100px;
  border-bottom: 20px solid #272930;
}

.section-3 {
  background-color: #646464;
  padding-top: 30px;
  padding-bottom: 100px;
  border-bottom: 20px solid #272930;
}

.section__header h2 {
  mix-blend-mode: hard-light;
  font-family: "Poppins", sans-serif;
  color: rgba(39, 53, 53, 0.6);
  font-size: clamp(2.5rem, 9rem, 6vw);
  /* min, val, max */
  text-shadow: 0px 2px 5px #0a0a0a;
  margin-bottom: 10px;
  margin-top: 10px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #c8c8c8;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
  background-color: #646464;
}

.card-list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
  background-color: #273535;
  background-image: url("/SeattleSkylineCopy.png");
  background-position: center;
  background-size: cover;
}

.card-list2 {
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
  background-color: #273535;
  background-image: url("/HawthorneMist.jpg");
  background-position: top;
  background-size: cover;
}

.card-list3 {
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
  background-color: #273535;
  background-image: url("/Aspen-Detail.jpg");
  background-position: top;
  background-size: cover;
}

.card-list4 {
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
  background-color: #273535;
  background-image: url("/mthood.jpg");
  background-position: top;
  background-size: cover;
}
.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 400px;
  min-width: 250px;
  border-radius: 16px;
  background: #17141d;
  -webkit-box-shadow: -0.1rem 0 1.5rem #000;
          box-shadow: -0.1rem 0 1.5rem #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
}

.card:focus-within ~ .card,
.card:hover ~ .card {
  -webkit-transform: translateX(130px);
          transform: translateX(130px);
}

.card:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card-header {
  margin-bottom: auto;
}

.card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

.card-header h2 {
  margin: 0.25rem 0 auto;
  text-decoration: none;
  color: inherit;
  border: 0;
  display: inline-block;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#f1d8a3), to(#e680ff));
  background: linear-gradient(90deg, #f1d8a3, #e680ff);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
/*# sourceMappingURL=main.css.map */